### 時間序列新增col
    7日加總 改為MA
    次數改為 count

In [1]:
import time
import pandas as pd
import datetime
import os

In [2]:
# 檔案讀取位置
datasite = './TimeSeries/TS2-201902_202306.parquet'

# 是否輸出檔案 >0 輸出
df_save = 1
# 檔案輸出位置 
custom_output_path = f'./TimeSeries'
DataName = 'TS3-201902_202306'

#-------------------------------------------------------------------------------------------------#
# 記錄開始時間
start_time = time.time()

df = pd.read_parquet(datasite)

# 記錄結束時間
end_time = time.time()   
# 計算程式執行花費的時間
execution_time = end_time - start_time

print("程式執行花費的時間：", round(execution_time,2), "秒")
print("done時間:", datetime.datetime.now())
df

程式執行花費的時間： 1.82 秒
done時間: 2023-08-28 18:47:05.288441

,Name,year,month,day,hour,weekday,PULocationID,is_holiday,次數,7DaysTimes,lat,lon
0,lyft,2019,2,1,0,4,3,False,4,1192.0,40.864294,-73.846510
1,lyft,2019,2,1,0,4,4,False,22,4953.0,40.723853,-73.975209
2,lyft,2019,2,1,0,4,6,False,1,355.0,40.601117,-74.071747
3,lyft,2019,2,1,0,4,7,False,50,11486.0,40.761433,-73.919365
4,lyft,2019,2,1,0,4,9,False,2,562.0,40.750302,-73.790188
...,...,...,...,...,...,...,...,...,...,...,...,...
22870509,yellow,2023,6,30,23,4,255,False,7,351.0,40.719651,-73.961672
22870510,yellow,2023,6,30,23,4,256,False,7,276.0,40.710736,-73.962940
22870511,yellow,2023,6,30,23,4,261,False,19,3730.0,40.707456,-74.013983
22870512,yellow,2023,6,30,23,4,262,False,18,8517.0,40.778363,-73.943489
22870513,yellow,2023,6,30,23,4,263,False,65,12835.0,40.779020,-73.950199

In [3]:
# 記錄開始時間
start_time = time.time()

df['7DaysMA'] = df['7DaysTimes']/7
df = df.drop(['7DaysTimes'],axis = 1)
df.rename(columns={'次數': 'count'}, inplace=True)

# 輸出檔案
if df_save > 0 :
    os.makedirs(os.path.dirname(f'{custom_output_path}/{DataName}.parquet'), exist_ok=True)
    df.to_parquet(f'{custom_output_path}/{DataName}.parquet')
    print('save!')
    
# 記錄結束時間
end_time = time.time()   
# 計算程式執行花費的時間
execution_time = end_time - start_time
print("\n程式執行花費的時間：", round(execution_time,2), "秒")
print("done時間:", datetime.datetime.now())

save!

程式執行花費的時間： 6.15 秒
done時間: 2023-08-28 18:47:11.471157

In [4]:
df

,Name,year,month,day,hour,weekday,PULocationID,is_holiday,count,lat,lon,7DaysMA
0,lyft,2019,2,1,0,4,3,False,4,40.864294,-73.846510,170.285714
1,lyft,2019,2,1,0,4,4,False,22,40.723853,-73.975209,707.571429
2,lyft,2019,2,1,0,4,6,False,1,40.601117,-74.071747,50.714286
3,lyft,2019,2,1,0,4,7,False,50,40.761433,-73.919365,1640.857143
4,lyft,2019,2,1,0,4,9,False,2,40.750302,-73.790188,80.285714
...,...,...,...,...,...,...,...,...,...,...,...,...
22870509,yellow,2023,6,30,23,4,255,False,7,40.719651,-73.961672,50.142857
22870510,yellow,2023,6,30,23,4,256,False,7,40.710736,-73.962940,39.428571
22870511,yellow,2023,6,30,23,4,261,False,19,40.707456,-74.013983,532.857143
22870512,yellow,2023,6,30,23,4,262,False,18,40.778363,-73.943489,1216.714286
22870513,yellow,2023,6,30,23,4,263,False,65,40.779020,-73.950199,1833.571429