### 時間序列新增col
    7日加總 改為MA
    次數改為 count

In [1]:
import time
import pandas as pd
import datetime
import os

In [2]:
# 檔案讀取位置
datasite = './TimeSeriesData/TS4-201902_202306.parquet'

# 是否輸出檔案 >0 輸出
df_save = 1
# 檔案輸出位置 
custom_output_path = f'./TimeSeriesData'
DataName = 'TS5-201902_202306'

#-------------------------------------------------------------------------------------------------#
# 記錄開始時間
start_time = time.time()

df = pd.read_parquet(datasite)

# 記錄結束時間
end_time = time.time()   
# 計算程式執行花費的時間
execution_time = end_time - start_time

print("程式執行花費的時間：", round(execution_time,2), "秒")
print("done時間:", datetime.datetime.now())
df

程式執行花費的時間： 2.24 秒
done時間: 2023-08-31 18:02:38.425398

,Name,year,month,day,hour,PULocationID,weekday,is_holiday,count,lat,lon,7DaysTimes
0,lyft,2019,2,1,0,3,4,False,4,40.864294,-73.846510,1192.0
1,lyft,2019,2,1,1,3,4,False,2,40.864294,-73.846510,1192.0
2,lyft,2019,2,1,2,3,4,False,6,40.864294,-73.846510,1192.0
3,lyft,2019,2,1,3,3,4,False,1,40.864294,-73.846510,1192.0
4,lyft,2019,2,1,4,3,4,False,1,40.864294,-73.846510,1192.0
...,...,...,...,...,...,...,...,...,...,...,...,...
30273907,yellow,2023,6,30,19,199,4,False,0,40.793489,-73.880683,1.0
30273908,yellow,2023,6,30,20,199,4,False,0,40.793489,-73.880683,1.0
30273909,yellow,2023,6,30,21,199,4,False,0,40.793489,-73.880683,1.0
30273910,yellow,2023,6,30,22,199,4,False,0,40.793489,-73.880683,1.0
30273911,yellow,2023,6,30,23,199,4,False,0,40.793489,-73.880683,1.0

In [3]:
# 記錄開始時間
start_time = time.time()

df['7DaysMA'] = df['7DaysTimes']/7
df = df.drop(['7DaysTimes'],axis = 1)


# 輸出檔案
if df_save > 0 :
    os.makedirs(os.path.dirname(f'{custom_output_path}/{DataName}.parquet'), exist_ok=True)
    df.to_parquet(f'{custom_output_path}/{DataName}.parquet')
    print('save!')
    
# 記錄結束時間
end_time = time.time()   
# 計算程式執行花費的時間
execution_time = end_time - start_time
print("\n程式執行花費的時間：", round(execution_time,2), "秒")
print("done時間:", datetime.datetime.now())

save!

程式執行花費的時間： 7.97 秒
done時間: 2023-08-31 18:02:46.421880

In [4]:
df

,Name,year,month,day,hour,PULocationID,weekday,is_holiday,count,lat,lon,7DaysMA
0,lyft,2019,2,1,0,3,4,False,4,40.864294,-73.846510,170.285714
1,lyft,2019,2,1,1,3,4,False,2,40.864294,-73.846510,170.285714
2,lyft,2019,2,1,2,3,4,False,6,40.864294,-73.846510,170.285714
3,lyft,2019,2,1,3,3,4,False,1,40.864294,-73.846510,170.285714
4,lyft,2019,2,1,4,3,4,False,1,40.864294,-73.846510,170.285714
...,...,...,...,...,...,...,...,...,...,...,...,...
30273907,yellow,2023,6,30,19,199,4,False,0,40.793489,-73.880683,0.142857
30273908,yellow,2023,6,30,20,199,4,False,0,40.793489,-73.880683,0.142857
30273909,yellow,2023,6,30,21,199,4,False,0,40.793489,-73.880683,0.142857
30273910,yellow,2023,6,30,22,199,4,False,0,40.793489,-73.880683,0.142857
30273911,yellow,2023,6,30,23,199,4,False,0,40.793489,-73.880683,0.142857